.answer-item {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    width: 300px;
    border: none;
    border-radius: 20px;
}