.answer-item {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    width: 300px;
    border: none;
    border-radius: 20px;
}

.bg-red {
    background: #E82424;
}
.bg-green {
    background-color: #4AE45A;
}
.d-none{
    display: none !important;
}
