.frame {
    width: auto;
    height: 90%;
    background-color: #4B4454;
    position: fixed;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.frame.border {
    border: 17px solid rgb(0, 0, 0);
}

.containerItem {
    width: 830px;
    height: 80px;
    background-color: #4B4098;
}

.containerItem.border {
    border: 5px solid #E9D9D9;
    border-radius: 28px;
}

.item {
    float: left;
    margin: 5px;
    width: 720px;
    height: 70px;
    background-color: #4EDB95;
}

.border {
    border: 10px solid #E9D9D9;
    border-radius: 28px;
    /*text-align: center;*/
}

.item.border {
    border: 10px solid #E9D9D9;
    border-radius: 28px;
    text-align: center;
}


.b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;

}

.containerItemExit {
    padding: 5px 10px;
    float: right;
}

.exit {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: relative;
    color: red;
}

.itemExit {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    background-color: currentColor;
}

.itemExit.itemExitLe {
    left: 0;
    height: 10px;
    transform: translateY(-50%) rotate(45deg);
}

.itemExit.itemExitRi {
    right: 0;
    height: 10px;
    transform: translateY(-50%) rotate(-45deg);
}

.containerSetting {
    height: 80%;
}

.mar-bxh {
    margin: 100px 5px 0px;
}

.containerSettingLeft {
    float: left;
    margin: 20px;
    width: 370px;
    height: 230px;
}

.containerSettingRight {
    float: right;
    margin: 20px;
    width: 350px;
    height: 230px;
}

.containerSettingBottom {
    float: left;
    position: relative;
    width: 800px;
    height: 50px;
}

.format {
    margin-left: 10px;
}

.fontID {
    font-family: monospace;
    font-style: oblique;
    font-size: 50px;
}

.fontSize25 {
    font-size: 25px;
}

.formatOK {
    margin-right: 20px;
}

.font.borderOK {
    color: #4B4098;
    border: 2px solid whitesmoke;
    background-color: #BDB8E6;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

.containerSettingBottomLe {
    width: 500px;
    height: 100px;
    float: left;
}

.containerSettingBottomRi {
    width: 150px;
    height: 100px;
    color: aliceblue;
    float: right;
    cursor: pointer;
}

.font {
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.mar {
    width: 200px;
    margin: 40px;
}

.mar-7 {
    margin: 7px;
}

.mar-left {
    margin-left: 60px;
}

.dropdown {
    width: 90px;
    height: 30px;
    font-size: 20px;
    border-radius: 10%;
    text-align: center;
}

.conSeLeft {
    float: left;
    width: 150px;
    margin-left: 50px;
}

.conSeRight {
    float: right;
    width: 150px;
    margin-right: 20px;
}

.container {
    position: relative;
}

.item-bxh {
    position: absolute;
    margin-top: -50px;
    margin-left: 303px;
    width: 600px;
    height: 100px;
}

.bg-bxh {
    background-color: #B1AABB;
}

.bxh {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: black;
}

.divbxh {
    float: left;
    margin-left: 50px;
    height: 50px;
    width: 1200px;
}

.top {
    background-image: linear-gradient(to right, red 8px, #f1ff6d 4px);
}

.fontbxh {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
table, th, td {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.mt50 {
    margin-top: 50px;
}
.ml30 {
    margin-left: 30px;
}
.mt20 {
    margin-top: 20px;
}

.pdl-bxh200 {
    padding-left: 200px;
}

.pdl-bxh20 {
    padding-left: 20px;
}

.border-bxh {
    border: 3px solid #000000;
    border-radius: 25px;
}

.posi-abso {
    position: absolute;
}

.mar-lef500 {
    margin-left: 500px;
}

.wid100 {
    width: 100px;
}

.wid180 {
    width: 180px;
}

.wid200 {
    width: 200px;
}

.hei100 {
    height: 100px;
}

.hei110 {
    height: 110px;
}

.mar-lef20 {
    margin-left: 20px;
}

.mar-top100 {
    margin-top: 100px;
}

.cusor {
    cursor: pointer;
}

.scroll {
    overflow: auto;
    border: 5%;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(130, 130, 130);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 254, 254, 0.827);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4B4454;
}